* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #212529;
  height: 3000px;
}
.grandparent {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #1f2d3d;
}
.parent {
  width: 400px;
  margin: 0 auto;
  background-color: #eff2f7;
}
.child {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.red {
  position: fixed;
  bottom: 0;
  left: 30px;
  background-color: #ff4949;
}

.yellow {
  background-color: #ffc82c;
}

.blue {
  background-color: #0066ff;
}
