* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}
.parent {
  width: 200px;
  margin: 0 auto;
  background-color: #eff2f7;
}
.child {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.red {
  position: relative;
  top: 20px;
  right: 200px;
  background-color: #ff4949;
}

.yellow {
  background-color: #ffc82c;
}

.blue {
  background-color: #0066ff;
}
