* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.box {
  width: 200px;
  height: 300px;
  background-color: #ff4949;
  overflow-x: scroll;
  overflow-y: hidden;
}

p {
  width: 500px;
  height: 400px;
  background-color: #0066ff;
  overflow: hidden;
}