
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;

}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px; /* 나중에 바뀔수 있지만 본문 폰트 사이즈로 해줌 */
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
p {
  /* 본문 폰트 사이즈는 문단에서 사용하고 있는 폰트 사이즈 */
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em; /* 1% */
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6; /* 24 / 15 */
  letter-spacing: -0.05em; /* -5% */
  color: #fff;
  background-color: #3040c4;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  color: #3040c4;
  background-color: #fff;
}

.fill-button:hover {
  opacity: 0.5;
}
/* Landing */
/* 데스크탑 신경쓰지 말고 일단 모바일만 보고 만든다 */
.landing {
  background-color: #fdded8;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.landing-title {
  margin-bottom: 24px;
  color: #2b292d;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em; /* -5% */
}

.landing-desc {
  margin-bottom: 20px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* Service */
.service {
  padding: 80px 0;
  background-color: #f4f5f7;
}

.service-title {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 1.363636363636364; /* 30 / 22 */
  letter-spacing: -0.04em; /* -4% */
  color: #2b292d;
}
/* >= 768px: 모바일 시안과 데스크탑 시안의 중단점이 768px 이라고 적어 놓았음. */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.363636363636364;  /* 30 / 22 */
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555555556;/* 28 / 18 */
  }
  /* Landing */
  .landing-content {
    height: auto;
    padding: 120px 0px;
  }
  .landing-title {
    margin-bottom: 32px;
    font-size: 70px;
    line-height: 1.028571428571429; /* 72 / 70 */
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }
}

/* Custom Grid System - Fix container with */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}