* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

.pseudo::before {
  content: "💖";
  margin-right: 20px;
  font-size: 30px;
}

.pseudo::after {
  content: "!";
  display: inline-block;
  width: 10px;
  font-style: italic;
  background-color: pink;
}
