.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;

}

.card {
  display: flex;
  width: 840px;
  padding: 24px;

}
.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  background-image: url('./assets/img-house.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  margin-right: 24px;
}

.card-image .like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-image : url('./assets/icon-favorite.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  cursor: pointer;
}
.card-image.vertical img {
  width: 100%;
  height: auto;
}
.card-image.horizontal img {
  width: auto;
  height: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.plus-badge {
  display: inline-block;
  padding: 1px 8px;
  font-size: 14px;
  margin-right: 6px;
  line-height: 1.428571428571429;/* 20 / 14 */
  color: #fff;
  background-color: #92174D;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;/* 20 / 16 */
  color: #7D858F;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;/* 20 / 16 */
}
.property-rate::before {
  position: relative;
  top: 2px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('./assets/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.property-rate strong {
  color: #151B26;
  font-weight: 400;
}

.property-rate span {
  color: #7D858F;
}

.card-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #151B26;
}

.property-detail {
  font-size: 14px;
  line-height: 1.142857142857143;/* 16 / 14 */
  color: #7D858F;
}

.property-detail dd span::after {
  content: '·';
  margin: 0 8px;
}

.property-detail dd span:last-child::after {
  content: '';
  margin: 0;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}


.card-content {
  flex-grow: 1;
}