* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

#text {
  color: #0066ff;
}

.a.b.c.d.e.f.g.h.i.j.k.l.m.n.o {
  color: #ff4949;
}

p {
  color: #ff4949 !important;
}