.box {
    width: 300px;
    height: 300px;
    background-image: url('./assets/dam2.jpg');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-color: hotpink;
    background-position: left top;
}