* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

span {
  display: inline-block;
  color: #fff;
  background-color: #0066ff;
  width: 700px;
  height: 300px;
  padding-top: 30px;
  margin-bottom: 30px;
}
