* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

.parent {
  font-size: 20px; /* parent 자식으로 p 태그를 가지고 있음 상속되어 p 태그에 폰트 사이즈가 20px 이된다. p 태그에서 1em은 20px 이 된다.*/
}
/* 1.5em = 20px * 1.5 = 30px */
/* p {
  font-size: 1.5em;
} */

p {
  font-size: 1rem; /* font-size: 20px */
  line-height: 2.5; /* 20 * 2.5 = 50px*/
  letter-spacing: -0.01em;/* 자간을 글자에 비례해서 1%정도 줄이고 싶다 -1/100 = -0.01 */
  font-weight: 700;
  color: rgba(0, 102, 255, 0.5)
}
