* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

.parent {
  font-size: 20px; /* parent 자식으로 p 태그를 가지고 있음 상속되어 p 태그에 폰트 사이즈가 20px 이된다. p 태그에서 1em은 20px 이 된다.*/
}
/* 1.5em = 20px * 1.5 = 30px */
/* p {
  font-size: 1.5em;
} */

p {
  font-size: 3rem;
}
