/*
 * PURBLE 1 #a389f4
 * PURPLE 2 #7e5bef
 * PURPLE 3 #592dea
 * BLUE 1   #85d7ff
 * BLUE 2  #1fb6ff
 * BLUE 3  #009eeb
*/
a {
  color: #fff;
  background-color:  #a389f4;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
a:hover {
  background-color: #7e5bef;
}

a:active {
  background-color: #592dea;
}

input {
  outline: none;
  box-shadow:none;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
  border-color:  #009eeb;
}

input:focus {
  border-color: #1fb6ff;
}
input:active {
  border-color:  #85d7ff;
}